name: CI/CD Pipeline

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

  publish-docker:
    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: docker login -u amrelsher -p P@$$word!

      - name: Build and push Docker image
        run: |
          docker build -t amrelsher/test_workflow:${{ github.sha }} .
          docker push amrelsher/test_workflow:${{ github.sha }}
        env:
          DOCKER_USERNAME: amrelsher
          DOCKER_PASSWORD: P@$$word!
