name: ci

on:
  push:
    branches:
      - '*'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUP_USERNAME }}
          password: P@$$word!

      - name: Build and push Docker image
        uses: docker/setup-buildx-action@v3
        with:
          context: .
          file: ./Test.Workflow/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
