name: ci

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: amrelsher
          password: dckr_pat_0dnQ07vfHFa1CNZFtU7KJMhUkhI
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and test
        uses: docker/build-push-action@v5
        with:
          working-directory: .././
          target: build
          load: true
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          working-directory: .././
          push: true
          target: final
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest
